/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('police/bebas-neue-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('police/bebas-neue-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('police/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('police/bebas-neue-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('police/bebas-neue-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('police/bebas-neue-v2-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
}
/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('police/ubuntu-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('police/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('police/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('police/ubuntu-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('police/ubuntu-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('police/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('police/ubuntu-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('police/ubuntu-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('police/ubuntu-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('police/ubuntu-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('police/ubuntu-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('police/ubuntu-v15-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('police/ubuntu-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('police/ubuntu-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('police/ubuntu-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('police/ubuntu-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('police/ubuntu-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('police/ubuntu-v15-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
body {
	width:100%;
	text-align:center;
}
.container {
	width:70%;
	border:4px grey;
	border-style: dotted;
	margin:0px auto;
	padding: 0px 20px;
	
}
header{
	background-color:#686a6a;
	Padding: 35px;
}	
h1{
	font-family:'Bebas Neue';
	text-align: center;
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #fff;
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 400;
	font-style: normal;
}

#origines{
	background-color:#f3f3f3;
	Padding: 35px;
}

#ingredients{
	background-color:#fff;
	Padding: 35px;
}

#preparation{
	background-color:#76cdcd;
	Padding: 35px;
}
footer {
	background-color:#686a6a;
	Padding: 35px;
}
h2 {
	font-family:'Bebas Neue';
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 30px;
	font-style: normal;
}
#preparation h2{
	color:white;

}

#origines h2{
	color:#444444;
}

#ingredients h2{
	color:#444444;
	font-weight: 500;
}
p{
	font-family:'Ubuntu';
	text-align:left;
	color:#666666;
	font-size: 30px;
	line-height: 40px; 
	padding-left: 10px;
	padding-right: 10px;
}
p strong {
	color: black;
}
footer p {
		color: #fff;
		text-align: center;
		margin-top: 7px;
		margin-bottom:7px;
		font-size: 15px;
}

ul{
	font-family:'Ubuntu';
	text-align: left;
	color:#666666;
	font-size: 30px;
	line-height: 40px; 
	list-style-image: url('check.png');
	width:50%;
	margin:0 auto;
	padding-bottom : 15px;
}
ul strong {
	color:green;
	font-weight:normal;
}
ol{
	font-family:'Ubuntu';
	text-align: left;
	color:#fff;
	font-size: 30px;
	line-height: 40px; 
	width: 45%;
	margin:0 auto;
	padding-bottom : 15px;
}
li {
	padding: 6px;
}

/* box sizing : a voir */